<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sif.community.dao.AdminDao">

	<select id="selectAllByPageAdmin" resultMap="selectAllByPageAdminRM">
		SELECT b.*, u.nickname AS board_nickname
		FROM tbl_board b, tbl_users u
		WHERE
			b.board_name = #{boardVO.board_name}
			AND
			b.board_p_no = 0
			AND
			#{boardVO.search_type} LIKE CONCAT('%', #{boardVO.search_txt}, '%')
			AND
			b.board_writer = u.username
		ORDER BY b.board_no DESC
		LIMIT #{pageVO.limit} OFFSET #{pageVO.offset}
	</select>
	
	<resultMap id="selectAllByPageAdminRM" type="boardVO">
		<id property="board_no" column="board_no"/>
		<collection property="board_reply" column="board_no" ofType="boardVO" select="selectReply" />
	</resultMap>
	
	<select id="selectReply" resultType="boardVO">
		SELECT b.*, u.nickname AS board_nickname
		FROM tbl_board b, tbl_users u
		WHERE
			b.board_p_no = #{board_no}
			AND
			b.board_writer = u.username
		ORDER BY b.board_no ASC
	</select>
	
	<select id="countAll" resultType="long">
		SELECT COUNT(*)
		FROM tbl_board
		WHERE
			board_info = #{board_info}
			AND
			#{search_type} LIKE CONCAT('%', #{search_txt}, '%')
	</select>
	
	<select id="selectBoardAll" resultType="boardInfoVO">
		SELECT *
		FROM tbl_board_info
	</select>
	
	<select id="selectByBoardInfo" resultMap="boardInfoRM">
		SELECT *
		FROM tbl_board_info
		WHERE bi_id = #{bi_id}
	</select>
	
	<resultMap id="boardInfoRM" type="boardInfoVO">
		<id property="bi_id" column="bi_id" />
		<collection property="bi_category" column="bi_id" ofType="categoryVO" select="selectCategoryByBiid" />
	</resultMap>
	
	<select id="selectCategoryByBiid" resultType="categoryVO">
		SELECT *
		FROM tbl_category
		WHERE cate_bi_id = #{bi_id}
	</select>
	
	<insert id="create_board">
		INSERT tbl_board_info (bi_name)
		VALUES (#{bi_name})
	</insert>

	<update id="update_user_from_admin">
		UPDATE `tbl_users`
		SET
			`enabled` = #{enabled},
			`nickname` = #{nickname},
			`email` = #{email},
			`phone` = #{phone},
			`age` = CONCAT( #{year}, '-', #{month}, '-', #{day} )
		WHERE `username` = #{username}
	</update>
	
</mapper>