<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sif.community.dao.PaginationDao">
	<select id="findByBiId" resultType="paginationDTO">
		SELECT *
		FROM tbl_pagination
		WHERE page_bi_id = #{bi_id} AND page_location = #{page_location}
	</select>
	
	<insert id="insert">
		INSERT INTO `tbl_pagination` (
			`page_bi_id`,
			`page_location`,
			`page_data_cnt`,
			`page_range`
		) VALUES (
			#{page_bi_id},
			#{page_location},
			#{page_data_cnt},
			#{page_range}
		)
	</insert>
	
	<update id="update">
		UPDATE `tbl_pagination`
		SET
			`page_bi_id` = #{page_bi_id},
			`page_location` = #{page_location},
			`page_data_cnt` = #{page_data_cnt},
			`page_range` = #{page_range}
		WHERE `page_id` = #{page_id}
	</update>
</mapper>