<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sif.community.dao.UserDao">

	<resultMap id="userDetailsRM" type="userDetailsVO">
		<id property="username" column="username"/>
		<collection property="authorities" column="username" ofType="authorityVO" select="findByUsernameFromAuthorities"/>
	</resultMap>
	
	<select id="findByUsernameFromAuthorities" resultType="authorityVO">
		SELECT *
		FROM authorities
		WHERE username = #{username}
	</select>
	
	<select id="selectAll" resultMap="userDetailsRM">
		SELECT a.*, YEAR(b.birth) as year, MONTH(b.birth) as month, DAY(b.birth) as day
		FROM tbl_users as a JOIN tbl_users as b
		ON a.username = b.username
	</select>

	<select id="findById" resultMap="userDetailsRM">
		SELECT a.*, YEAR(b.birth) as year, MONTH(b.birth) as month, DAY(b.birth) as day
		FROM tbl_users as a JOIN tbl_users as b
		ON a.username = b.username
		WHERE a.username = #{username}
	</select>
	
	<select id="findByUsername" resultMap="userDetailsRM">
		SELECT a.*, YEAR(b.birth) as year, MONTH(b.birth) as month, DAY(b.birth) as day
		FROM tbl_users as a JOIN tbl_users as b
		ON a.username = b.username
		WHERE a.username = #{username}
	</select>
	
	<select id="findByNickname" resultType="userDetailsVO">
		SELECT username, nickname
		FROM tbl_users
		WHERE nickname LIKE CONCAT('%', #{nickname}, '%')
	</select>
	
	<insert id="insert">
		INSERT INTO `tbl_users` (
			username,
			password,
			nickname,
			email,
			phone,
			birth
		) VALUES (
			#{username},
			#{password},
			#{nickname},
			#{email},
			#{phone},
			CONCAT( #{year}, '-', #{month}, '-', #{day} )
		)
	</insert>
	
	<update id="update_user">
		UPDATE `tbl_users`
		SET
		`nickname` = #{nickname},
		`phone` = #{phone},
		`birth` = CONCAT( #{year}, '-', #{month}, '-', #{day} )
		WHERE `username` = #{username}
	</update>
	
	<update id="update_pw">
		UPDATE `tbl_users`
		SET
		`password` = #{password}
		WHERE `username` = #{username}
	</update>
	
	<update id="update_email">
		UPDATE `tbl_users`
		SET
		`email` = #{email}
		WHERE `username` = #{username}
	</update>
	
</mapper>